---
http_interactions:
- request:
    method: get
    uri: https://api.mysportsfeeds.com/v1.1/pull/nba/2017-playoff/game_boxscore.json?gameid=20170416-POR-GSW
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<MySportsFeeds_AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"gameboxscore":{"lastUpdatedOn":"2017-10-25 1:36:58 PM","game":{"date":"2017-04-16","time":"3:30PM","awayTeam":{"ID":"97","City":"Portland","Name":"Trail
        Blazers","Abbreviation":"POR"},"homeTeam":{"ID":"101","City":"Golden State","Name":"Warriors","Abbreviation":"GSW"},"location":"Oracle
        Arena"},"quarterSummary":{"quarter":[{"@number":"1","awayScore":"27","homeScore":"31","scoring":{"scoringPlay":[{"time":"0:20","teamAbbreviation":"GSW","playDescription":"Pachulia
        16'' Jump Shot (2 PTS) (Thompson 1 AST)"},{"time":"1:09","teamAbbreviation":"POR","playDescription":"Lillard
        2'' Cutting Layup Shot (2 PTS) (Harkless 1 AST)"},{"time":"1:17","teamAbbreviation":"GSW","playDescription":"Curry
        26'' 3PT Running Jump Shot (3 PTS)"},{"time":"1:44","teamAbbreviation":"GSW","playDescription":"Durant
        Free Throw 1 of 2 (1 PTS)"},{"time":"1:44","teamAbbreviation":"GSW","playDescription":"Durant
        Free Throw 2 of 2 (2 PTS)"},{[...]
[...]
- request:
    method: get
    uri: https://api.mysportsfeeds.com/v1.1/pull/nba/2017-playoff/game_boxscore.json?gameid=GGGameId
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<MySportsFeeds_AUTH>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 05 Nov 2017 13:44:56 GMT
- request:
    method: get
    uri: https://api.mysportsfeeds.com/v1.1/pull/nba/2017-playoff/game_boxscore.json?gameid=GGGameId
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<MySportsFeeds_AUTH>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 09 Nov 2017 07:53:23 GMT
recorded_with: VCR 3.0.3
