---
http_interactions:
- request:
    method: get
    uri: https://api.mysportsfeeds.com/v1.1/pull/nba/2017-playoff/scoreboard.json?fordate=20170416&team=GSW
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<MySportsFeeds_AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"scoreboard":{"lastUpdatedOn":"2017-10-21 5:31:09 AM","gameScore":[{"game":{"ID":"40322","scheduleStatus":"Normal","originalDate":null,"originalTime":null,"delayedOrPostponedReason":null,"date":"2017-04-16","time":"3:30PM","awayTeam":{"ID":"97","City":"Portland","Name":"Trail
        Blazers","Abbreviation":"POR"},"homeTeam":{"ID":"101","City":"Golden State","Name":"Warriors","Abbreviation":"GSW"},"location":"Oracle
        Arena"},"isUnplayed":"false","isInProgress":"false","isCompleted":"true","awayScore":"109","homeScore":"121","quarterSummary":{"quarter":[{"@number":"1","awayScore":"27","homeScore":"31"},{"@number":"2","awayScore":"29","homeScore":"25"},{"@number":"3","awayScore":"32","homeScore":"32"},{"@number":"4","awayScore":"21","homeScore":"33"}]}}]}}'
  recorded_at: Sun, 22 Oct 2017 10:02:58 GMT
[...]
- request:
    method: get
    uri: https://api.mysportsfeeds.com/v1.1/pull/nba/2017-playoff/scoreboard.json?fordate=incorrect_date&team=GSW
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<MySportsFeeds_AUTH>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 29 Oct 2017 14:33:08 GMT
- request:
    method: get
    uri: https://api.mysportsfeeds.com/v1.1/pull/nba/2017-playoff/scoreboard.json?fordate=sad_game_date&team=GSW
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<MySportsFeeds_AUTH>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 29 Oct 2017 14:45:55 GMT
[...]
- request:
    method: get
    uri: https://api.mysportsfeeds.com/v1.1/pull/nba/2017-playoff/scoreboard.json?fordate=111111G&team=GSW
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<MySportsFeeds_AUTH>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 29 Oct 2017 15:09:32 GMT
[...]
- request:
    method: get
    uri: https://api.mysportsfeeds.com/v1.1/pull/nba/ggggg/scoreboard.json?fordate=11111111&team=ffffff
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<MySportsFeeds_AUTH>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 29 Oct 2017 15:22:20 GMT
- request:
    method: get
    uri: https://api.mysportsfeeds.com/v1.1/pull/nba/2017-playoff/scoreboard.json?fordate=11111111&team=ffffff
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<MySportsFeeds_AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"scoreboard":{"lastUpdatedOn":"2017-10-29 10:56:12 AM"}}'
  recorded_at: Sun, 29 Oct 2017 15:24:25 GMT
recorded_with: VCR 3.0.3
